<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>21 Savage</h1>
  <h2>Why you trappin so hard?</h2>


  <h3>Messages</h3>
  <ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="message">
      <span><%= messages[i].product %></span>
      <span><%= messages[i].quantity %></span>
      <button id="update-button">Update</button>
      <button id="delete-button">Remove Items</button>
    </li>
  <% } %>
  </ul>

  <h2>Add a message</h2>

  <form action="/items" method="POST">
    <input class="product" type="text" placeholder="product" name="name" required="true" />
    <input class="quantity" type="text" placeholder="quantity" name="quote" required="true" />
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
